/* Establece el color de fondo de todo el cuerpo de la página a blanco */
body {
  background-color: white;
  margin: 0; /* Elimina el margen por defecto */
  font-family: Arial, sans-serif; /* Establece la fuente predeterminada */
}

/* Estilo general del div contenedor */
.contenedor-nav {
  width: 100%;
  background-color: white; /* Un ligero gris para distinguir la barra de navegación */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
  padding: 10px 0; /* Espacio superior e inferior dentro del div */
}

nav {
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; /* Elimina padding */
  margin: 0; /* Elimina margin */
}


/* Estilo del logo */
nav img {
  height: 55px; /* Altura del logo */
  margin-right: -5px; /* Espacio a la derecha del logo */
  margin-left: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center; /* Ajusta según sea necesario */
}

/* Estilo de los items de la lista */
nav ul li {
  margin-right: 23px; /* Espacio entre los ítems */
}


/* Estilo de los enlaces de la lista */
nav ul li a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: #8d99ae; /* Color del texto de los enlaces */
  font-weight: bold; /* Negrita para los textos de los enlaces */
}

/* Añade un efecto al pasar el ratón sobre los enlaces */
nav ul li a:hover {
  color: #5ab3df; /* Cambia el color al pasar el ratón */
}

.contenedor-1 {
  display: flex;
  background-color: #f2f3f4; /* Color de fondo por defecto en caso de que la imagen no cargue */
  background-image: url("./asset/IMAGENES CLEANPOOL/casa de campo3.jpg"); /* Ruta a la imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra todo el div */
  background-position: center; /* Centra la imagen dentro del div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-size: 99%;
}

.contenedor-a {
  background-color: #f2f3f4; /* Color de fondo por defecto en caso de que la imagen no cargue */
  background-image: url("./asset/IMAGENES CLEANPOOL/fondo-3.jpg"); /* Corrige la ruta si es necesario */
  background-size: cover; /* Asegura que la imagen cubra todo el div */
  background-position: center; /* Centra la imagen dentro del div */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  min-height: 400px; /* Altura mínima para asegurar que la imagen se muestre adecuadamente */
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
}

.div1-contenedor-a {
  color: white; /* Cambia el color del texto para mejorar contraste */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto para hacerlo más legible sobre fondos claros */
  padding: 20px; /* Espaciado interno para no pegar el texto a los bordes */
  font-size: 2em; /* Ajusta el tamaño del texto según necesites */
  text-align: center; /* Alinea el texto al centro */
}

.div1-contenedor-1{
  width: 100%; /* Asegura que ambas secciones ocupen todo el ancho disponible */
  display: flex; /* Esto garantiza que se comporten como bloques, aunque <section> ya lo hace por defecto */
  margin: 20px 0; /* Añade un espacio vertical entre las secciones */
  font-family: "Noto Sans JP", sans-serif;
}
.div2-contenedor-1 {
  color: #f2f3f4;
  width: 100%; /* Asegura que ambas secciones ocupen todo el ancho disponible */
  display: block; /* Esto garantiza que se comporten como bloques, aunque <section> ya lo hace por defecto */
  margin-top: 5%; 
  margin-left: 5%;
  margin-right: 10%;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
 }

.div1-contenedor-a {
  width: 100%; /* Asegura que ambas secciones ocupen todo el ancho disponible */
  display: block; /* Esto garantiza que se comporten como bloques, aunque <section> ya lo hace por defecto */
  margin: 30px 0; /* Añade un espacio vertical entre las secciones */
}

.contenedor-b > div {
  text-align: center;
  padding: 20px;
}

.contenedor-b img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: auto;
}


button {
  background-color: #168AAD; /* Color celeste */
  border: none; /* No border */
  color: white; /* Texto blanco */
  padding: 10px 20px; /* Padding alrededor del texto */
  text-align: center; /* Texto centrado */
  text-decoration: none; /* Sin decoración de texto */
  font-size: 26px; /* Tamaño del texto */
  margin: 4px 2px; /* Margen alrededor del botón */
  cursor: pointer; /* Cursor de mano al pasar el mouse */
  border-radius: 12px; /* Bordes redondeados */
  transition: all 0.3s ease; /* Transición suave para hover */
}



.button-CentradoV{
  position: absolute;
  top: 83%;
  transform: translateX(213%);
}

button:hover {
  background-color: #52B69A; /* Un celeste un poco más oscuro al hacer hover */
}

.contenedor-2 {
  display: flex;
  gap: 20px; /* Espacio entre las cards */
  justify-content: center; /* Centra las cards en el contenedor si no ocupan todo el ancho */
  padding: 20px; 
  margin-inline: 20%;
  font-size: 30px;
  text-align: center;
  color: #037971;
  opacity: 80%;
  background-color: aliceblue;

}

.contenedor-3 {
  background-color: #f2f3f4;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las cards */
  justify-content: center; /* Centra las cards en el contenedor si no ocupan todo el ancho */
  padding: 20px; /* Espacio alrededor del contenido dentro del contenedor-2 */
  margin-inline: 100px;
}
.loguitos-cards {
  width: 50px;
  transform: translateX(250%);
  margin-top: 20px;
  
}


.card {
  flex: 1 1 180px; /* Cada card puede crecer y encogerse pero base es 300px */
  display: flexbox;
  justify-content: center;
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que todo dentro de la card se quede dentro de los bordes redondeados */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para 3D efecto */
  background-color: #f2f3f2; /* Fondo blanco para las cards */

  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  transition: transform 0.5s ease;  
  
}

.card:hover {
  transform: scale(1.05); /* Ajusta la escala si es necesario */
  box-shadow: 0 0px 8px #99D98C;
}



.card-info {
  padding: 15px; /* Espacio interior alrededor del texto dentro de la card-info */
  text-align: center; /* Centra el texto horizontalmente */
  
}

.card h3 {
  margin: 10px 0; /* Espacio vertical arriba y abajo del título */
  color: #333; /* Color oscuro para el texto del título */
}

.card p {
  font-size: 14px; /* Tamaño de fuente para la descripción */
  color: #666; /* Color gris para el texto descriptivo */
  line-height: 1.5; /* Espaciado de línea para mejorar la legibilidad */
}

.contenedor-1,
.contenedor-2,
.contenedor-3,
.contenedor-a,
.contenedor-b,
.contenedor-c {
  background-color: #f8f9fa;
  margin-top: 20px; /* Espacio en la parte superior */
  margin-bottom: 20px; /* Espacio en la parte inferior */
  padding: 20px; /* Espacio alrededor del contenido */
}

.contenedor-4{
  display: flex;
  justify-content: center;
  color: #1E6091;

}
.contenedor-5{
display: flex;
justify-content: center; /* Centra las cards en el contenedor si no ocupan todo el ancho */
padding: 20px; 
margin-inline: 20%;
font-size: 30px;
text-align: center;
opacity: 80%;
color: #037971;
background-color: rgb(251, 253, 255);}

.contenedor-6{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  position: relative; 
  }

.card2{
  width: 300px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para 3D efecto */
  border-radius: 5%;
  margin-left: 3%;
  transition: transform 0.3s; /* Agrega una transición suave al cambio de escala */
}
.card2:hover {
  transform: scale(1.05); /* Agrandar al 105% del tamaño original */
}

.card2 img {
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
  border-radius: 5%;
}


.card-info2{
 margin-left: 3%;
}
.card-info2:hover{
  transform: scale(1.05); /* Agrandar al 105% del tamaño original */
  text-align: center;
}

.card-info2 h3 {
  color: #0c837b;
  font-family: "Noto Sans JP", sans-serif;
}


.btn2{
    margin-left: 5%;
  }

.contenedor-7 {
 display: flex;
 background-color: #f2f3f2;
 width: 100%;
}
.texto-niños{
  justify-content: center;
  margin-top: 7%;
 }
 
 .img-niños img{
  margin-left: 10%;
  width: 85%;
 }

 .parrafo-contenedor-7 pre{
  font-family: "Noto Sans JP", sans-serif;
  font-size: large;
 }

 .titulo-contenedor-7{
  font-family: "Noto Sans JP", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #1E6091;
  margin-left: -20%;
  
 }

 .btn-contenedor-7{
  margin-left: 11%;
 }

 

.contenedor-4-bis {
  justify-content: left;
}
.parrafo-contenedor-4 {
  justify-content: left;
}

.titulo-contenedor-4 {
  justify-content: left;
  font-size: 25px;
}

.btn-contenedor-4 {
  justify-content: left;
}

.contenedor-5 {
  background-color: #f2f3f4;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las cards */
  justify-content: center; /* Centra las cards en el contenedor si no ocupan todo el ancho */
  padding: 20px; /* Espacio alrededor del contenido dentro del contenedor-2 */
}

.cabecera-div2-contenedor-d {
    display: flex;
    align-items: center;
    padding: 10px;
}
.img-cabecera-div2-contenedor-d img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}
.texto-cabecera-div2-contenedor-d h1,
.texto-cabecera-div2-contenedor-d h2 {
    margin: 0;
    padding: 0;
}

.carrousel-contenedor-d {
  width: 50%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
  height: 100%; /* Puede definir una altura específica si es necesario */
  overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
}

.carrousel-contenedor-d img {
  width: 100%;  /* Hace que la imagen sea tan ancha como el contenedor */
  height: 100%; /* Hace que la imagen sea tan alta como el contenedor */
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin deformarse */
}

.loguito-div1-contenedor-d img {
  width: 100px;
  height: auto;
  margin-right: 20px;
}

.contenedor-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor-nav nav ul {
 list-style-type: none;
 margin-left: 450px;
}

.contenedor-nav nav ul li {
  display: inline;
  margin-left: 20px; /
  
}

.div1-contenedor-1 img{
  width: 600px;
  margin-top: 10%;
  margin-left: 20px;
  
}

.div2-contenedor-1{
  display: flexbox;
  align-items: center;
}


.footer{
background-color: #001524;
 width: 100%;
 height: 90px;
}

.footer-conteiner{
  display: flex;
  justify-content: space-between;
}
.logosFC {
  display: flex; /* Utiliza flexbox para los logos */
  align-items: center; /* Centra verticalmente los logos */
  margin-left: 5%;
}

.loguitosF {
  margin-right: 20px; /* Ajusta el espacio entre los logos */
}

.footer-izquierdo pre {
  color: #f2f3f2;
  font-family: "Nunito Sans", sans-serif;
  margin-left: 9%; 
  align-self: center; /* Centra verticalmente el texto izquierdo */
}


